examples/alexa-auth.json
[{"id":"1d0c96d4f5c2c649","type":"http in","z":"f5f5af5d690875aa","name":"","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":380,"y":920,"wires":[["4131e37e361caef2"]]},{"id":"30ab620fbe5d6d51","type":"http response","z":"f5f5af5d690875aa","name":"","statusCode":"302","headers":{},"x":740,"y":920,"wires":[]},{"id":"4131e37e361caef2","type":"function","z":"f5f5af5d690875aa","name":"Create Login URL","func":"let Client_ID = global.get('Client_ID')\nlet myURL = new url.URL('https://www.amazon.com/ap/oa');\nlet sd = {\n    \"alexa:all\": {\n        \"productID\": \"alexaweb\",\n        \"productInstanceAttributes\": {\n            \"deviceSerialNumber\": \"1\"\n        }\n    }\n}\nlet callback = global.get('callback')\nmyURL.searchParams.append(\"client_id\", Client_ID)\nmyURL.searchParams.append(\"scope\", \"alexa:all\")\nmyURL.searchParams.append(\"scope_data\", JSON.stringify(sd))\nmyURL.searchParams.append(\"response_type\", \"code\")\nmyURL.searchParams.append(\"redirect_uri\", callback)\n\nmsg.headers = {}\nmsg.headers.location = myURL.href\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"url","module":"url"}],"x":570,"y":920,"wires":[["30ab620fbe5d6d51"]]},{"id":"6e631cd42b1393d4","type":"http in","z":"f5f5af5d690875aa","name":"","url":"/code","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1020,"wires":[["b29c92670ab51883"]]},{"id":"b29c92670ab51883","type":"function","z":"f5f5af5d690875aa","name":"Get Token","func":"let Client_ID = global.get('Client_ID')\nlet Client_Secret = global.get('Client_Secret')\n\nlet code = msg.payload.code\n\nlet callback = global.get('callback')\n\nmsg.payload = { \"client_id\": Client_ID, \"client_secret\": Client_Secret, \"code\": code, \"grant_type\": \"authorization_code\", \"redirect_uri\": callback }\nmsg.url = 'https://api.amazon.com/auth/o2/token'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1020,"wires":[["2ccc51cb7c31e9d0"]]},{"id":"2ccc51cb7c31e9d0","type":"http request","z":"f5f5af5d690875aa","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":1020,"wires":[["3d2f0568e557f2e1"]]},{"id":"3d2f0568e557f2e1","type":"change","z":"f5f5af5d690875aa","name":"Save Token","rules":[{"t":"set","p":"access_token","pt":"flow","to":"payload.access_token","tot":"msg"},{"t":"set","p":"refresh_token","pt":"flow","to":"payload.refresh_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1020,"wires":[["9d73dedaac9b814f"]]},{"id":"9d73dedaac9b814f","type":"http response","z":"f5f5af5d690875aa","name":"","statusCode":"200","headers":{},"x":900,"y":1020,"wires":[]},{"id":"06b50df256a5afd9","type":"function","z":"f5f5af5d690875aa","name":"Setup Auth Keys","func":"// See On Start for Values\nreturn msg;","outputs":1,"noerr":0,"initialize":"global.set('Client_ID', \"amzn1.application-oa2-client.1234567890abcdef\")\nglobal.set('Client_Secret', \"f234d169382b222b9ce584070759ccd7ecff04857dfbd0a32c42de40d5a1d6bf\")\nglobal.set('callback', 'http://localhost:1880')","finalize":"","libs":[],"x":170,"y":920,"wires":[[]]}]