examples/amazon_auth.json
[{"id":"1ca481b51c9cc00d","type":"http in","z":"f5f5af5d690875aa","name":"","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":600,"y":1240,"wires":[["20c5367c0b6bd870"]]},{"id":"d86b86ab12563251","type":"http response","z":"f5f5af5d690875aa","name":"","statusCode":"302","headers":{},"x":960,"y":1240,"wires":[]},{"id":"20c5367c0b6bd870","type":"function","z":"f5f5af5d690875aa","name":"Create Login URL","func":"let Client_ID = global.get('Client_ID')\nlet myURL = new url.URL('https://www.amazon.com/ap/oa');\nlet sd = {\n    \"alexa:all\": {\n        \"productID\": \"alexaweb\",\n        \"productInstanceAttributes\": {\n            \"deviceSerialNumber\": \"1\"\n        }\n    }\n}\nlet callback = global.get('callback')\nmyURL.searchParams.append(\"client_id\", Client_ID)\nmyURL.searchParams.append(\"scope\", \"alexa:all\")\nmyURL.searchParams.append(\"scope_data\", JSON.stringify(sd))\nmyURL.searchParams.append(\"response_type\", \"code\")\nmyURL.searchParams.append(\"redirect_uri\", callback)\n\nmsg.headers = {}\nmsg.headers.location = myURL.href\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"url","module":"url"}],"x":790,"y":1240,"wires":[["d86b86ab12563251"]]},{"id":"a112eaaac89c5ebb","type":"http in","z":"f5f5af5d690875aa","name":"","url":"/code","method":"get","upload":false,"swaggerDoc":"","x":440,"y":1340,"wires":[["9620ea882f1d1884"]]},{"id":"9620ea882f1d1884","type":"function","z":"f5f5af5d690875aa","name":"Get Token","func":"let Client_ID = global.get('Client_ID')\nlet Client_Secret = global.get('Client_Secret')\n\nlet code = msg.payload.code\n\nlet callback = global.get('callback')\n\nmsg.payload = { \"client_id\": Client_ID, \"client_secret\": Client_Secret, \"code\": code, \"grant_type\": \"authorization_code\", \"redirect_uri\": callback }\nmsg.url = 'https://api.amazon.com/auth/o2/token'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1340,"wires":[["e8881018eaf11ae9"]]},{"id":"e8881018eaf11ae9","type":"http request","z":"f5f5af5d690875aa","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":790,"y":1340,"wires":[["3497952171cdb9ca"]]},{"id":"3497952171cdb9ca","type":"change","z":"f5f5af5d690875aa","name":"Save Token","rules":[{"t":"set","p":"access_token","pt":"flow","to":"payload.access_token","tot":"msg"},{"t":"set","p":"refresh_token","pt":"flow","to":"payload.refresh_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1340,"wires":[["272d7f3184872dbe"]]},{"id":"272d7f3184872dbe","type":"http response","z":"f5f5af5d690875aa","name":"","statusCode":"200","headers":{},"x":1120,"y":1340,"wires":[]},{"id":"0c7c1c8e7d05e4a4","type":"function","z":"f5f5af5d690875aa","name":"Setup Auth Keys","func":"// See On Start for Values\nreturn msg;","outputs":1,"noerr":0,"initialize":"global.set('Client_ID', \"amzn1.application-oa2-client.111111111111111111111\")\nglobal.set('Client_Secret', \"11111111111111111111122222222222222222222aaaaaaaaaaabbbbbbbbb\")\nglobal.set('callback', 'http://localhost:1880/code')","finalize":"","libs":[],"x":390,"y":1240,"wires":[[]]}]