examples/audiofile.json
[{"id":"5f72555253056fd8","type":"inject","z":"f5f5af5d690875aa","name":"Read File","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":280,"y":100,"wires":[["adf220390197eac7"]]},{"id":"adf220390197eac7","type":"file in","z":"f5f5af5d690875aa","name":"Example Audio","filename":"node_modules/@sammachin/nodered-alexa-voice-service/examples/request.wav","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":460,"y":100,"wires":[["1b42393d726c90ca"]]},{"id":"1b42393d726c90ca","type":"change","z":"f5f5af5d690875aa","name":"","rules":[{"t":"set","p":"access_token","pt":"msg","to":"access_token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":100,"wires":[["72c4f4032c054b8f"]]},{"id":"72c4f4032c054b8f","type":"alexa-avs","z":"f5f5af5d690875aa","name":"","accessToken":"access_token","accessTokenType":"msg","baseURL":"","baseURLType":"https://alexa.eu.gateway.devices.a2z.com","ffmpeg":"","ffmpegType":"auto","output":"","outputType":"mp3","x":850,"y":100,"wires":[["ca2c1a3f630ac0ac"]]},{"id":"ca2c1a3f630ac0ac","type":"change","z":"f5f5af5d690875aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.multipart[1].body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":100,"wires":[["b68f70e28e06fca8"]]},{"id":"b68f70e28e06fca8","type":"play audio","z":"f5f5af5d690875aa","name":"","voice":"","x":1230,"y":100,"wires":[]},{"id":"94636bc44df9836e","type":"comment","z":"f5f5af5d690875aa","name":"Additional Nodes","info":"node-red-contrib-play-audio","x":140,"y":60,"wires":[]}]