examples/dashboard.json
[{"id":"2aa2435c082313cf","type":"ui_microphone","z":"f5f5af5d690875aa","name":"","group":"8dfca5c38e103e63","order":0,"width":0,"height":0,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"press","mode":"audio","interimResults":false,"x":170,"y":800,"wires":[["e7440ddea15b4431"]]},{"id":"e7440ddea15b4431","type":"change","z":"f5f5af5d690875aa","name":"","rules":[{"t":"set","p":"access_token","pt":"msg","to":"access_token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":800,"wires":[["a40204e2ee9737c4"]]},{"id":"a40204e2ee9737c4","type":"alexa-avs","z":"f5f5af5d690875aa","name":"","accessToken":"access_token","accessTokenType":"msg","baseURL":"","baseURLType":"https://alexa.eu.gateway.devices.a2z.com","ffmpeg":"","ffmpegType":"auto","output":"","outputType":"mp3","x":550,"y":800,"wires":[["12005283b1af6d87"]]},{"id":"12005283b1af6d87","type":"change","z":"f5f5af5d690875aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.multipart[1].body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":800,"wires":[["91304dea55f7c460"]]},{"id":"91304dea55f7c460","type":"ui_audio","z":"f5f5af5d690875aa","name":"","group":"8dfca5c38e103e63","voice":"","always":"","x":860,"y":800,"wires":[]},{"id":"daf9b07d39026b63","type":"comment","z":"f5f5af5d690875aa","name":"Additional Nodes","info":"node-red-node-ui-microphone\nnode-red-dashboard\n","x":140,"y":260,"wires":[]},{"id":"8dfca5c38e103e63","type":"ui_group","name":"Default","tab":"3ae7056eeb498d8d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3ae7056eeb498d8d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]