examples/polly_tts.json
[{"id":"9f32aad5ca74c409","type":"inject","z":"f5f5af5d690875aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"what time is it","payloadType":"str","x":150,"y":520,"wires":[["a68c43530908ae77"]]},{"id":"a68c43530908ae77","type":"polly","z":"f5f5af5d690875aa","name":"","voice":"0","ssml":false,"dir":"/tmp","config":"290b2881e4437d72","x":290,"y":520,"wires":[["cb5ecde81fe2012e"],[]]},{"id":"cb5ecde81fe2012e","type":"change","z":"f5f5af5d690875aa","name":"","rules":[{"t":"move","p":"file","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":520,"wires":[["b0c8929165ebdf46"]]},{"id":"b0c8929165ebdf46","type":"file in","z":"f5f5af5d690875aa","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":660,"y":520,"wires":[["665bee5cabe56141"]]},{"id":"665bee5cabe56141","type":"change","z":"f5f5af5d690875aa","name":"","rules":[{"t":"set","p":"access_token","pt":"msg","to":"access_token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":520,"wires":[["61f1e852987bc1ba"]]},{"id":"61f1e852987bc1ba","type":"alexa-avs","z":"f5f5af5d690875aa","name":"","accessToken":"access_token","accessTokenType":"msg","baseURL":"","baseURLType":"https://alexa.eu.gateway.devices.a2z.com","ffmpeg":"","ffmpegType":"auto","output":"","outputType":"mp3","x":1050,"y":520,"wires":[["c338d5383feba58c"]]},{"id":"c338d5383feba58c","type":"change","z":"f5f5af5d690875aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.multipart[1].body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":520,"wires":[["941c6bc085b43bd4"]]},{"id":"941c6bc085b43bd4","type":"play audio","z":"f5f5af5d690875aa","name":"","voice":"","x":1430,"y":520,"wires":[]},{"id":"3c2d737acc095408","type":"comment","z":"f5f5af5d690875aa","name":"Additional Nodes","info":"node-red-contrib-play-audio\nnode-red-contrib-polly-tts","x":140,"y":480,"wires":[]},{"id":"290b2881e4437d72","type":"polly-config","name":"sammachin"}]